<!DOCTYPE html>
<html lang="en" dir="ltr">
    <body onload="onLoad('home')">
        {% include 'topbar.html' %}
        <div class="backgroundd"></div>
        <div class="column side"></div>
        <div class="column middle">
            <section> 
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1><big><big>BAIGIAMASIS BAKALAURO DARBAS</big></big></h1>  
                <br>
                <br>
                <h1><big><big>PASLAUGŲ KOKYBĖS PARAMETRŲ ĮVERTINIMO SISTEMA</big></big></h1>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 style="text-align: center;">Darbo autorė Areta Jaškūnaitė</h1>
            </section>
        </div>
    </body>
</html>